<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-3">
            <video #video class="vid" autoplay></video>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-primary" (click)="capture()">Capture Image</button>
        </div>
        <div class="col col-lg-5">
            <div class="row">
                <canvas #canvas class="vid canvas"></canvas>
                <div class="col col-lg-3" *ngFor="let img of images; let i=index">
                    <img id="img{{i}}" src="{{img}}" alt="" class="vid">
                </div>
            </div>
        </div>
    </div>
</div>